@import url(https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap);

.iconoRollingBank{
  font-family: 'Black Han Sans', sans-serif;
}
.bg-footer{
  background: rgb(46, 43, 43);
}

@media (max-width:600px){
  .carrusel{
    height: 50vw;
    object-fit: cover;

  }
}